@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

    <h1>Online Bookstore</h1>


    @foreach (Book b in Model.Books)
    {
        <h3>@b.Title</h3>

        <ul>
            <li>Author: @b.Author</li>
            <li>Publisher: @b.Publisher</li>
            <li>ISBN: @b.Isbn</li>
            <li>Classification/Category: @b.Classification</li>
            <li>Number of Pages: @b.PageCount</li>
            <li>Prince: $@b.Price</li>
        </ul>
    }

    <div page-model="@Model.PaginationInfo" page-action="Index"></div>